  <div class="form-group">
		<%= form_for [@project, task] do |f| %>
			<%= render 'devise/shared/error_messages', object: f.object %>
			<%= f.label :name	 %> 
		  <%= f.text_field :name, class: 'form-control' %>

			<%= f.label :description %> 
		  <%= f.text_area :description, class: 'form-control'  %>

		  <%= f.label :due_date %> 
			<%= f.datetime_select :due_date, class: 'form-control'  %>
			
			<% if task.user_id == nil %>
			<%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>	  
			<% end %>
		  		  
		  <b>Assign to</b>
		  <%= f.select(:assigned_user_id, User.all.map{|u| [ u.first_name + " " + u.last_name, u.id ] }) %>

			<%= f.label :priority %>
			<%= f.select :priority, Task.priorities.keys.map { |s| [s.humanize, s] }, class: "form-control" %>		

			<%= f.label :complete %> 
			<%= f.check_box :complete %>   

		  <%= f.submit "Submit", class: "btn submit-btn"  %>
		<% end %>
	</div>

