  <div class="form-group">
		<%= form_for @project do |f| %>
			<%= render 'devise/shared/error_messages', object: f.object %>
			<%= f.label :name	 %> 
		  <%= f.text_field :name, class: 'form-control' %>

			<%= f.label :description %> 
		  <%= f.text_area :description, class: 'form-control'  %>

		  <%= f.label :due_date %> 
			<%= f.datetime_select :due_date, class: 'form-control'  %>	

			<%= f.label :priority %>
			<%= f.select :priority, Project.priorities.keys.map { |s| [s.humanize, s] }, class: "form-control" %>       		 
			<%= f.label :complete %> 
			<%= f.check_box :complete %> 

			
			<%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>	  
			
			
		  <%= f.submit "Submit", class: "btn submit-btn"  %>
		<% end %>
	</div>
