<div class = 'container'>
	<h2>Projects</h2>
	<button type="button" class="btn" data-toggle="modal" data-target="#projectModal">
		Create new project
	</button>
	<table class = 'table'>
		<thead>
	    <tr>
	    	<th>Name</th>
	    	<th>Description</th>
	      <th>Due Date(Mountain Time)</th>
	      <th>Creator</th>
	      <th>Time left</th>
	      <th>Priority</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
		  <% @projects.each do |project| %>
			  <tr>
				  <td><%= project.name %></td>
				  <td><%= project.description %></td>
				  <td><%= project.due_date.strftime("%B %d, %Y, %I:%M %P") %></td>
				  <td><%= project.user.first_name %> <%= project.user.last_name %></td>
				  <% if project.complete == true %>
				 		<td><%= "Completed!" %></td>
				 	<% else %>	
				  	<td><%= distance_of_time_in_words_to_now(project.due_date) %></td>
				  <% end %> 
				  <td><%= project.priority.capitalize %></td>
				  <td>	
				  	<div class="btn-group btn-group-xs">
							<%= link_to 'View', project_path(project), class: "btn" %>
							<% if user_signed_in? && current_user.id == project.user_id %>
								<%= link_to 'Edit', edit_project_path(project), remote: true,class: "btn" %>
								<%= link_to 'Delete', project, data: { confirm: "Are you sure you wish to delete this project?" }, 
																						 method: :delete, class: "btn" %>
							<% end %>
						</div>	
					</td>
				</tr>
			<% end %>
	  </tbody>
	</table>
</div>

<!-- Project Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Project</h4>
      </div>
      <div class="modal-body" id= "ProjectModalBody">
        <%= render partial: 'project_form', locals: {:project => Project.new} %>
      </div>
    </div>
  </div>
</div>